@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$fredoka: 'Fredoka', sans-serif;
$title: 'Fredoka One', cursive;
$orange: #EF8354;
$dark: #2D3142;
$grey: #4F5D75;
$white: #f7f7f7;
$lightgrey: #DBDBDB;
$background: #F4F4F4;
$regular: 400;
$medium: 500;
$light: 300;
$bold: 600;
$black: 700;

body, .container-fluid {
  background-color: $background;
}

.main {
  background: $orange;
}

.f-button {
  padding: {
    left: 25px;
    right: 25px;
  }
  height: 34px;
  border: 2px solid $dark;
  border-radius: 25px;
  background-color: transparent;
  color: $dark;
  font: {
    family: $fredoka;
    size: 16px;
    weight: $regular;
  }
}

.f-orange, .f-tag {
  background-color: $orange;
  color: $white;
  border: 2px solid $orange;

}

.f-orange-font {
  color: $orange;
}

.f-tag {
  margin-right: 5px;
  border-radius: 25px;
  background-color: transparent;
  font: {
    family: $fredoka;
    size: 10px;
    weight: $regular;
  }
  color: $dark;
  border: 2px solid $grey;
}

.f-view {
  font-size: 13px;
  background-color: $white;
  color: $dark;
  border: 2px solid $white;
  width: 50px;
  height: 25px;
}


.f-title {
  font: {
    family: $title;
    size: 48px;
  }
  color: $orange;
}

.f-title-small {
  font: {
    family: $title;
    size: 29px;
  }
  color: $orange;
}

.f-user-icon {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.f-user-icon-small {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
}

.f-user-icon-smallest {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.f-header-username {
  font: {
    family: $fredoka;
    size: 14px;
    weight: $bold;
  }
  color: $dark;
  text-align: left;
}

.f-menu-list {
  width: 120px;
}


.f-section-header {
  font: {
    family: $fredoka;
    size: 14px;
    weight: $medium;
  }
  text-align: right;
}

.f-font-small, .f-menu-item-title {
  font: {
    family: $fredoka;
    size: 12px;
    weight: $regular;
  }
  text-align: right;
}

.f-event {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #00000029;

  .f-event-header {
    width: 100%;

    i {
      font-size: 14px;
      color: $dark;
    }
  }

  .f-event-img-container {
    .f-event-img {
      object-fit: cover;
      border-radius: 15px;
    }
  }
}

.f-search {
  width: 220px;
  height: 250px;

  .f-event-img-container {
    .f-event-img {
      width: 190px;
      height: 145px;
    }
  }
}

.f-request-box {
  width: 100%;
  padding: {
    left: 20px;
    right: 20px;
    bottom: 10px;
  };
}


.f-explore {
  width: 580px;
  overflow: auto;

  .f-event-img-container {
    .f-event-img {
      width: 530px;
      height: 250px;
    }
  }
}

.f-event-detail {
  width: 100%;
  font: {
    family: $fredoka;
  }

  .f-event-title {
    font: {
      size: 14px;
      weight: $medium;
    }
    color: $dark;
  }

  .f-event-detail-section {
    color: $grey;
    width: 100%;

    .f-event-location, .f-event-attendees, .f-event-time, .f-event-cost {
      font: {
        size: 13px;
        weight: $regular;
      }

      i {
        font-size: 11px;
      }
    }

    .f-medium {
      font-size: 14px;
    }

    .f-medium-title {
      font-size: 15px;
    }

  }
}

.f-icon-small {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.f-event-detail-content {
  font: {
    family: $fredoka;
    size: 13px;
    weight: $regular;
  }
  color: $grey;

  .f-event-detail-img {
    .f-user-icon-small {
      width: 46px;
      height: 46px;
      object-fit: cover;
      border-radius: 50%;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .f-event-detail-section-header {
    margin-bottom: 5px;
    font: {
      size: 15px;
      weight: $medium;
    }
    color: $dark;
    text-align: left;
  }

  .f-event-detail {
    .f-event-title-box {
      background-color: white;
      border-radius: 15px;

      .f-event-title {
        font: {
          size: 28px;
          weight: $medium;
        }
        color: $dark;
      }

      .f-vent-desc {
        color: $dark;
      }
    }

    .f-event-detail-box {
      background-color: white;
      border-radius: 15px;

      span {
        margin: 0;
      }

      .f-event-location, .f-event-cost, .f-event-time, .f-event-attendees, .f-event-hosts {
        margin-bottom: 15px;
      }
    }
  }
}

.f-icon-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.f-form {
  .f-bg {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .f-form-content {

    input, textarea {
      background-color: transparent;
      border: 1px solid #616E83;
      border-radius: 5px;
      color: $grey;
      opacity: 0.9;
      font: {
        family: $fredoka;
        size: 12px;
      }
    }

    input {
      height: 25px;
      padding: 6px;
    }

    textarea, #event-title {
      border-color: transparent;
      padding: 0;
    }

    #event-title {
      height: 35px;
      font: {
        size: 28px;
        weight: $medium;
      }
      color: $dark;
      opacity: 1;
    }

    .f-image-upload {
      width: 100%;
      height: 750px;
      background-color: $lightgrey;
      border-radius: 15px;

      label {
        width: 140px;
        height: 55px;
        border-radius: 15px;
        background-color: white;
        color: #767676;
        font: {
          family: $fredoka;
          size: 18px;
          weight: $regular;
        }

        i {
          color: $lightgrey;
          font-size: 14px;
        }
      }
    }

    small {
      margin: 0;
      font: {
        family: $fredoka;
        size: 8px;
      }

    }

    label {
      font: {
        family: $fredoka;
        size: 12px;
        weight: $medium;
      }
    }

    .f-form-detail {
      button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid $grey;
        background-color: transparent;

        i {
          color: $grey;

        }
      }
    }

    .f-form-group {
      border: 1px solid transparent;

    }
  }
}

.f-search-bar {

  border-bottom: 2px solid $grey;

  input {
    font: {
      family: $fredoka;
      size: 26px;
      weight: $medium;
    }
    color: $dark;
    background-color: transparent;
    padding: {
      top: 0;
      bottom: 0;
    }

    &:focus {
      background-color: transparent;
      outline: none !important;
      padding: {
        top: 0;
        bottom: 0;
      };
    }

  }


  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }

  input::-ms-clear, input::-ms-reveal {
    display: none;
    max-width: 0;
  }

  i {
    font-size: 18px;
  }
}

.f-small-regular {
  font: {
    family: $fredoka;
    size: 14px;
    weight: $regular;
  }
  color: $grey;
}

.f-medium-medium {
  font: {
    family: $fredoka;
    size: 15px;
    weight: $medium;
  }
  color: $dark;
}

.btn.primary:active, .btn.primary.active {
  background-color: red;
}

.f-dropdown-title{
  width: 130px;
  .f-menu-link {
    text-decoration: none;
  }
  .f-dropdown-menu {
    .f-menu-item {
      background-color: transparent;
      border: 1px solid transparent;

      .f-icon {
        font-size: 12px;
        color: $dark;
      }
    }

    .f-divider {
      color: $grey;
    }
  }

  .f-dropdown-toggle {
    &::after {
      content: none;
      display: none !important;
    }
  }
}