@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$fredoka: 'Fredoka', sans-serif;
$title: 'Fredoka One', cursive;
$orange: #EF8354;
$lightorange: #F2A985;
$dark: #2D3142;
$grey: #4F5D75;
$white: #f7f7f7;
$lightgrey: #DBDBDB;
$lightlightgrey: #e8e8e8;
$background: #F4F4F4;
$regular: 400;
$medium: 500;
$light: 300;
$bold: 600;
$black: 700;

body, .container-fluid {
  background-color: $background;
  font: {
    family: $fredoka;
  }
}

input {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}
button {
  &:focus, &:active{
    outline: none !important;
    box-shadow: none;
  }
}
.main {
  background: $orange;
}

.f-button {
  padding: {
    left: 25px;
    right: 25px;
  }
  height: 34px;
  border: 2px solid $dark;
  border-radius: 25px;
  background-color: transparent;
  color: $dark;
  font: {
    family: $fredoka;
    size: 16px;
    weight: $regular;
  }
}

.f-orange, .f-tag {
  background-color: $orange;
  color: $white;
  border: 2px solid $orange;

}

.f-orange-font {
  color: $orange;
}

.f-tag {
  margin-right: 5px;
  border-radius: 25px;
  background-color: transparent;
  font: {
    family: $fredoka;
    size: 14px;
    weight: $regular;
  }
  color: $dark;
  border: 2px solid $grey;
  padding: {
    left: 3%;
    right: 3%;
  };
}

.f-view {
  font-size: 13px;
  background-color: $white;
  color: $dark;
  border: 2px solid $white;
  width: 50px;
  height: 25px;
}

.f-view {
  width: 70px;
}


.f-title {
  font: {
    family: $title;
    size: 48px;
  }
  color: $orange;
}

.f-title-small {
  font: {
    family: $title;
    size: 29px;
  }
  color: $orange;
}

.f-user-icon {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.f-user-icon-large {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.f-user-icon-small {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
}

.f-user-icon-smallest {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.f-header-username {
  font: {
    family: $fredoka;
    size: 14px;
    weight: $medium;
  }
  color: $dark;
  text-align: left;
}

.f-menu-list {
  width: 120px;
}


.f-section-header {
  font: {
    family: $fredoka;
    size: 14px;
    weight: $medium;
  }
  text-align: right;
}

.f-font-small, .f-menu-item-title {
  font: {
    family: $fredoka;
    size: 12px;
    weight: $regular;
  }
  text-align: right;
}

.f-event {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px #00000029;

  .f-event-header {
    width: 100%;

    i {
      font-size: 14px;
      color: $dark;
    }
  }

  .f-event-img-container {
    .f-event-img {
      object-fit: cover;
      border-radius: 15px;
    }
  }
}

.f-search {
  width: 220px;
  height: 250px;

  .f-event-img-container {
    .f-event-img {
      width: 190px;
      height: 145px;
    }
  }


}

.f-home {
  width: 220px;
  height: 250px;
  .f-event-img, .f-link {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  h3 {
    margin-bottom: 2px;
  }

  i {
    color: $white;
  }

}

.f-request-box {
  width: 100%;
  padding: {
    left: 20px;
    right: 20px;
    bottom: 10px;
  };
}


.f-explore {
  width: 580px;
  overflow: auto;

  .f-event-img-container {
    .f-event-img {
      width: 530px;
      height: 250px;
    }
  }
}

.f-event-detail {
  width: 100%;
  font: {
    family: $fredoka;
  }

  .f-event-title {
    font: {
      size: 14px;
      weight: $medium;
    }
    color: $dark;
  }

  .f-event-detail-section {
    color: $grey;
    width: 100%;

    .f-event-location, .f-event-attendees, .f-event-time, .f-event-cost {
      font: {
        size: 13px;
        weight: $regular;
      }

      i {
        font-size: 11px;
      }
    }

    .f-medium {
      font-size: 14px;
    }

    .f-medium-title {
      font-size: 15px;
    }

  }
}

.f-icon-small {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.f-event-detail-content {
  font: {
    family: $fredoka;
    size: 13px;
    weight: $regular;
  }
  color: $grey;

  .f-event-detail-img {
    .f-user-icon-small {
      width: 46px;
      height: 46px;
      object-fit: cover;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .f-event-detail-section-header {
    margin-bottom: 5px;
    font: {
      size: 15px;
      weight: $medium;
    }
    color: $dark;
    text-align: left;
  }

  .f-event-detail {
    .f-event-title-box {
      background-color: white;
      border-radius: 15px;

      .f-event-title {
        font: {
          size: 28px;
          weight: $medium;
        }
        color: $dark;
      }

      .f-vent-desc {
        color: $dark;
      }
    }

    .f-event-detail-box {
      background-color: white;
      border-radius: 15px;

      span {
        margin: 0;
      }

      .f-event-location, .f-event-cost, .f-event-time, .f-event-attendees, .f-event-hosts {
        margin-bottom: 15px;
      }
    }
  }
}

.f-form-content-sign {
  .f-bg {
    height: 31px;
  }

  width: 280px;
  border-radius: 3px;
  padding: 0;

  input {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $grey;
    opacity: 0.9;
    padding: 0;
    font: {
      family: $fredoka;
      size: 14px;
    }

  }
}

.f-icon-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;

  .f-dark {
    color: $dark;
  }

}

.f-form {
  .f-bg {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .f-form-content {

    input, textarea, select {
      background-color: transparent;
      border: 1px solid #616E83;
      border-radius: 5px;
      color: $grey;
      opacity: 0.9;
      font: {
        family: $fredoka;
        size: 12px;
      }
      resize: none;
    }

    .f-disabled {
      background-color: $lightgrey;

    }

    input {
      height: 25px;
      padding: 6px;
    }
     select {
      padding: {
        top: 3px;
        bottom: 3px;
        left: 6px;
      }
    }

    textarea, #event-title {
      border-color: transparent;
      padding: 0;
    }

    #event-title {
      height: 35px;
      font: {
        size: 28px;
        weight: $medium;
      }
      color: $dark;
      opacity: 1;
    }

    .f-image-upload {
      width: 100%;
      height: 750px;
      background-color: $lightgrey;
      border-radius: 15px;
      padding: 0;

      label {
        width: 140px;
        height: 55px;
        border-radius: 15px;
        background-color: white;
        color: #767676;
        font: {
          family: $fredoka;
          size: 18px;
          weight: $regular;
        }

        i {
          color: $lightgrey;
          font-size: 14px;
        }
      }


    }

    small {
      margin: 0;
      font: {
        family: $fredoka;
        size: 8px;
      }

    }

    label {
      font: {
        family: $fredoka;
        size: 12px;
        weight: $medium;
      }
    }

    .f-form-detail {
      button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid $grey;
        background-color: transparent;

        i {
          color: $grey;

        }
      }
    }

    .f-form-group {
      border: 1px solid transparent;
      height: inherit;
      width: 100%;
      .f-uploaded-img {
        height: inherit;
        object-fit: cover;
        border-radius: 15px;
        width: 100%;
      }
      button {
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
        .fa-xmark {
          padding: 10px;
          font-size: 26px;
          color: $white;

        }
      }

    }
  }
}

.f-search-bar-home {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;

  input {
    font: {
      family: $fredoka;
      size: 26px;
      weight: $regular;
    }
    color: $dark;
    padding: 0;

    &:focus {
      background-color: #ffffff;
      outline: none !important;
      padding: 0;

    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $dark;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $dark;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $dark;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $dark;
    }
  }

  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
    outline: none !important;
  }

  input::-ms-clear, input::-ms-reveal {
    display: none;
    max-width: 0;
    outline: none !important;
  }

  i {
    font-size: 18px;
  }
}

.f-search-bar {

  border-bottom: 2px solid $grey;

  input {
    font: {
      family: $fredoka;
      size: 26px;
      weight: $medium;
    }
    color: $dark;
    background-color: transparent;
    padding: {
      top: 0;
      bottom: 0;
    }

    &:focus {
      background-color: transparent;
      outline: none !important;
      padding: {
        top: 0;
        bottom: 0;
      };
    }

  }


  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }

  input::-ms-clear, input::-ms-reveal {
    display: none;
    max-width: 0;
  }

  i {
    font-size: 18px;
  }
}


.f-small-regular {
  font: {
    family: $fredoka;
    size: 14px;
    weight: $regular;
  }
  color: $grey;
}

.f-medium-medium {
  font: {
    family: $fredoka;
    size: 15px;
    weight: $medium;
  }
  color: $dark;
}

.f-medium-regular {
  font: {
    family: $fredoka;
    size: 15px;
    weight: $regular;
  }
  color: $dark;
}

.btn.primary:active, .btn.primary.active {
  background-color: red;
}

.f-dropdown-title {
  width: 130px;

  .f-menu-link {
    text-decoration: none;
  }

  .f-dropdown-menu {
    &:focus, &:active {
      outline: none !important;
      box-shadow: none;
    }
    .f-menu-item {
      background-color: transparent;
      border: 1px solid transparent;

      .f-icon {
        font-size: 12px;
        color: $dark;
      }
    }

    .f-divider {
      color: $grey;
    }
  }

  .f-dropdown-toggle {
    &::after {
      content: none;
      display: none !important;
    }

  }
}

.f-social-icons {
  .f-social-icon {
    padding-right: 7px;
    color: $dark;
    font-size: 18px;
  }
}

.f-footer {
  background-color: $lightlightgrey;
  padding: 25px;
}

.f-form-header {
  font: {
    family: $fredoka;
    size: 24px;
    weight: $medium;
  }
  margin: 0;
}

.f-link {
  text-decoration: none;
  color: inherit;

  &:focus, &::after, &:hover {
    color: inherit;
  }
}


.f-icon {
  font-size: 16px;
  color: $dark;
}

//Chat
.f-chat-label {

  width: 100%;
  height: 70px;
  border-radius: 3px;
  padding: 8px;
  text-align: left;
  border: 1px solid transparent;

  .f-chat-cover, .f-cover-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

  }

  .f-cover-img {
    object-fit: cover;
  }

  .f-chat-cover {
    border: 2px solid $dark;
    color: $dark;

    h3 {
      font: {
        family: $fredoka;
        size: 13px;
        weight: $medium;
      }
      padding: 0;
      margin: 0;
    }
  }

  .f-chat-info {
    width: 100%;
    padding-left: 10px;
    h4, h5, span {
      font: {
        size: 12px;
      }
      padding: 0;
      margin: 0;
      text-overflow: ellipsis;
      max-width: 54ch;
      overflow: hidden;
      white-space: nowrap;

    }

    h4 {
      margin-bottom: 2px;
    }

    h5 {
      font-weight: $regular;
      color: $grey;
      width: 100%;
    }

    .f-chat-time-circle {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $lightorange;
      padding: 4px;

      h5 {
        padding: 0;
        margin: 0;
        color: #ffffff;
      }

    }

    .f-chat-title {
      width: 215px;
      text-overflow: ellipsis;
    }
  }

  font: {
    family: $fredoka;
  }
  color: $dark;

}

.f-chat-search {
  width: 100%;

  border-radius: 3px;
  border: 1px solid transparent;
  font: {
    family: $fredoka;
    size: 12px;
    weight: $regular;
  }

  input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0 0 0 5px;
  }
}

.box {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 3px;

}

.f-chat-box {
  background-color: #ffffff;
  width: 100%;

}

.f-empty-box {
  i {
    color: $dark;
  }
}

.f-chat-header {
  .f-cover-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  h5 {
    font: {
      family: $fredoka;
      size: 12px;
      weight: $regular;
    }

    span {
      font-weight: $medium;
    }
  }
}

.f-msg-content {
  font: {
    family: $fredoka;
    size: 12px;
    weight: $regular;
  }

  .f-msg-cover {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $orange;
    color: #ffffff;
    font: {
      weight: $medium;
      size: 14px;
    }

  }

  .f-msg {
    width: 65%;
    h5, h6 {
      padding: 0;
      margin: 0;
    }

    h6 {
      font: {
        weight: $regular;
        size: 10px;
      }
      color: $grey;
      margin-bottom: 2px;
    }

    h5 {
      font: {
        weight: $regular;
        size: 12px;
      }
    }
  }
}

.f-msg-input {
  width: 100%;
  background-color: $lightlightgrey;
  border-radius: 3px;
  padding: 5px;
  font: {
    family: $fredoka;
    size: 12px;
    weight: $regular;
  }
  textarea {
    border: 1px solid transparent;
    background-color: $lightlightgrey;
    color: $grey;
    padding: 0;
    border-radius: 3px;
    width: 95%;
    resize: none;
    &:focus {
      outline: none !important;
    }

  }
  textarea::-webkit-search-cancel-button,
  textarea::-webkit-search-decoration,
  textarea::-webkit-search-results-button,
  textarea::-webkit-search-results-decoration {
    display: none;
    outline: none !important;
  }

  textarea::-ms-clear, textarea::-ms-reveal {
    display: none;
    max-width: 0;
    outline: none !important;
  }
  button {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
    i {
      color: $grey;
      font-size: 12px;
    }
  }
}

//DASHBOARD
.f-number-card {
  width: 23%;
  height: 90px;
  background-color: #ffffff;
  border-radius: 10px;
  h6 {
    font: {
      size: 18px;
      weight: $regular;
    }
    text-align: center;
    margin: 0;
  }
  .f-num-card {
    font: {
      size: 28px;
      weight: $medium;
    }
  }
}

.f-profile {

  .f-profile-name {
    font: {
      size: 24px;
      weight: $medium;

    }

  }
  .f-profile-location, .f-profile-bio {
    h4 {
      font: {
        size: 15px;
        weight: $regular;
      }
    }
  }

  .f-profile-tabs {
    li {
      .f-link {
        text-decoration: none;
        border: none;
        color: inherit;
        padding: 0;
        background-color: transparent;
        width: 100%;

        &:focus, &::after, &:hover, &:active, &:current {
          color: inherit;
        }
        &:hover {

        }
      }
      button {

      }
    }
  }
  .f-nav {
    width: 25%;

  }
  .selected {
    button {
      font-weight: $medium;
    }
  }

}


.f-dash {
  .f-dash-box {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2%;
      .f-search, .f-event {
        width: 250px;
        height: 270px;

        .f-event-img {
          width: 225px;
          height: 165px;
        }
        h3 {
          margin: 0;
        }

      }
    h3 {
      font: {
        family: $fredoka;
        size: 16px;
        weight: $medium;
      }
      margin-left: 10px;
    }
  }
}

.f-complaint-card {
  background-color: $white;
  padding: 4%;
  border-radius: 15px;
  h3, h4, span {
    margin: 0;
  }
  span, h4, p {
    font-size: 13px;
    font-weight: $regular;
    span {
      font-weight: $medium;
    }
  }
  p {
    line-height: 15px;
    margin-top: 10px;
  }
  h3 {
    font-size: 16px;
    font-weight: $medium;
  }
  button {
    width: 50%;
  }
}

.f-media-card {
  width: 25%;
  margin: 5px;
  img {
    width: 100%;
    min-width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }

}

.f-event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}